{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          ".ts",
        ],
        "root": [
          "./src"
        ]
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/syntax-dynamic-import"
  ]
}
